extends ../layout.pug
block content
 table.table.mt-5.mb-5
  thead
    tr
      th(scope='col') Image
      th(scope='col') Title
      th(scope='col') Description
      th(scope='col') Author
      th(scope='col') Price
      th(scope='col') Amount
      th(scope='col') Total
  tbody
    if books
     each book in books
      tr
       td
        img(src=book.image, alt="", style="width: 50px; height: 50px")
       td=book.title
       td=book.description
       td=book.author
       td=book.price
 a.btn.btn-primary(href="/cart?q=reset") Delete all books
 a.btn.btn-primary.ml-2(href="/transaction/create") Rent book

