extends ../layout.pug
block content
 h3 Create book
 if errors
  each error in errors
   .alert.alert-warning
    p=error
 form(action="/book/create" method="POST")
  .form-group Title
   label(for="title")
   input.form-control(type="text" name="title" id="title" value=title&&title required)
  .form-group Description
   label(for="description")
   textarea.form-control(type="text" name="description" id="description" value=description&&description required)
  .form-group
   label(for="author") Author
   input.form-control(type="text" name="author" id="author" value=author&&author required)
  .form-group
   label(for="price") Price
   input.form-control(type="text" name="price" id="price" value=price&&price required)
  .form-group
   label(for="image") Avatar
   input.form-control-file(type="file" name="image" id="image" required)
  button.btn.btn-primary(type="submit") Create